<h2>Bulk Discounts</h2>

<% @discounts.each do |discount| %>
  <p id='discount-<%= discount.id %>'>Percentage: <%= (discount.percentage) %>%, Quantity Threshold: <%= discount.quantity_threshold %> <%= link_to 'View Discount', merchant_bulk_discount_path(discount.merchant, discount) %> <%= link_to 'Delete Discount', merchant_bulk_discount_path(discount.merchant, discount), method: :delete %></p>
<% end %>

<%= link_to 'Add New Discount', new_merchant_bulk_discount_path %>
