<h2>Admin Dashboard</h2>
<%= link_to 'Merchants', admin_merchants_path %>
<%= link_to 'Invoices', admin_invoices_path %>

<section id='top-customers'>
  <h3>Top Customers</h3>
  <ol>
    <% @customers.top_five_with_count.each do |customer| %>
      <li id="customer-<%= customer.id %>"><%= customer.full_name %> - <%= customer.t_count %> purchases</li>
    <% end %>
  </ol>
</section>
<section id='incomplete-invoices'>
  <h3>Incomplete Invoices</h3>
  <ul>
    <% @incomplete_invoices.each do |inc_inv| %>
      <li id='incomplete-<%= inc_inv.id %>'><%= link_to "##{inc_inv.id}", admin_invoice_path(inc_inv.id) %></li>
    <% end %>
  </ul>
</section>
