<h2><%= @merchant.name %></h2>
<%= link_to 'My Items', merchant_items_path %>
<%= link_to 'My Invoices', merchant_invoices_path %>

<section id='items-ready'>
  <h3>Items Ready to Ship</h3>
  <ul>
    <% @merchant.inv_items_ready.each do |inv_item| %>
      <li id="item-<%= inv_item.invoice_id %>"><%= inv_item.item_name %> - <%= link_to "Invoice ##{inv_item.invoice_id}", merchant_invoice_path(@merchant.id, inv_item.invoice_id) %> - <%= inv_item.formatted_date %></li>
    <% end %>
  </ul>
</section>

<section id='favorite-customers'>
  <h3>Favorite Customers</h3>
  <ol>
    <% @merchant.favorite_customers.each do |customer| %>
      <li id="customer-<%= customer.id %>"><%= customer.full_name %> - <%= customer.t_count %> purchases</li>
    <% end %>
  </ol>
</section>
