<h2>Invoice #<%= @invoice.id %></h2>
<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.formatted_date %></p>
<!-- revenue goes here -->

<p>Customer: <%= @invoice.customer_name %></p>

<h3>Items on this invoice:</h3>
<table id='items'>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @invoice_items.each do |i_i| %>
    <tr id="items-<%= i_i.item_id %>">
      <th><%= i_i.item.name %></th>
      <th><%= i_i.quantity %></th>
      <th><%= i_i.unit_price %></th>
      <th><%= i_i.status %></th>
    </tr>
  <% end %>
</table>
